{% extends 'polls/base.html' %}
{% block content %}

<div class = "container col sm-5">
    <h1 class="display-4">Questions</h1>
    <p class="lead">Click on a question to vote</p>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>
<div class="container">
    <form action="{% url 'polls:scrap' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-xs-3">
                <input type="text" class="form-control " placeholder="Paste URL here" name="url"><br>
                <button type="submit" class="btn btn-success">Go</button>
                <a href="{% url 'polls:scrap_flipkart' %}" class="btn btn-default">Scrap Flipkart</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}


