<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<!-- link to the SqPaymentForm library -->
	<script type="text/javascript" src="{% static 'assets/js/paymentform.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="{% static 'css/bootstrap.min.css' %}"></script>
	<!-- link to the local custom styles for SqPaymentForm -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/mysqpaymentform.css' %}">
</head>
<body>
    <div id="form-container">
     <div id="sq-card-number"></div>
     <div class="third" id="sq-expiration-date"></div>
     <div class="third" id="sq-cvv"></div>
     <div class="third" id="sq-postal-code"></div>
     <button id="" class="button-credit-card" onclick="onGetCardNonce(event)">Pay $1.00</button>
   <!-- end #form-container -->

        <script type="text/javascript">

            const paymentForm = new SqPaymentForm({

                   applicationId: "sandbox-sq0idb-m0qUj9KaOKSHOjuUCEh8jw",
                   inputClass: 'sq-input',
                   autoBuild: false,

                   inputStyles: [{
                       fontSize: '16px',
                       lineHeight: '24px',
                       padding: '16px',
                       placeholderColor: '#a0a0a0',
                       backgroundColor: 'transparent',
                   }],

                   cardNumber: {
                       elementId: 'sq-card-number',
                       placeholder: 'Card Number'
                   },
                   cvv: {
                       elementId: 'sq-cvv',
                       placeholder: 'CVV'
                   },
                   expirationDate: {
                       elementId: 'sq-expiration-date',
                       placeholder: 'MM/YY'
                   },
                   postalCode: {
                       elementId: 'sq-postal-code',
                       placeholder: 'Postal'
                   },

                   callbacks: {

                       cardNonceResponseReceived: function (errors, nonce, cardData) {

                       if(nonce){
                            $.ajax({

                                  url: "payprocess",
                                  type: 'GET',
                                  data: {
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        'nonce':nonce
                                    },

                                  success: function (response) {
                                     if (response.status == "Payment Successful"){
                                        alert("Success")
                                    }
                                  }

                            });

                       }
                       else if(errors){

                        errors.forEach(function (error){
                            var err_message = error.message;
                            

                            $.ajax({

                                  url: "payprocess",
                                  type: 'GET',
                                  data: {
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        'errors': err_message
                                    },

                                  success: function (response) {

                                    if (response.status == "Payment Failed"){
                                        alert("Payment Failed  ,ERROR CODE  "+response.error)
                                    }

                                  }

                            });
                            });



                       }
                   }
                }
            });
                 paymentForm.build();

                 function onGetCardNonce(event) {

                   event.preventDefault();

                   paymentForm.requestCardNonce();
                 }

   </script>

  </div>
</body>
</html>

